.menu-items {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, min-content));
    gap: 16px;
    justify-content: center;
    padding: initial;
}

.MenuItem {
    border: 1px solid #888;
}

.item-img {
    height: 256px;
    max-width: 100%;
    object-fit: contain;
}

.item-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;    
    text-align: left;
    margin: 4px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}